/* Center the container and give it some styling */
.login-container {
    display: flex;
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    align-content: center;
    margin: auto;
}

/* Input styles */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

/* Button styles */
.login-button {
    width: 100%;
    padding: 0.75rem;
    background-color: var(--medium-blue);
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: var(--dark-blue);
}

/* Error message styling */
.error-message {
    background-color: #ffcccc;
    color: #d9534f;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    text-align: center;
}

/* Sign-up link */
p a {
    color: var(--medium-blue);
    text-decoration: none;
    font-weight: bold;
}
